.body-content {
  margin-top: 80px;
  margin-bottom: 20px;
}

.fixed-top {
  background-color: #2C4C7D;
}

.page {
  margin: 0 auto;
  display: flex;
}

.leftPanel {
  width: 33%;
}

.leftPanelFilter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.leftPanelElements {
  overflow-y: scroll;
  max-height: 480px;
  padding-right: 10px;
}

.leftPanelElementBlock {
  box-sizing: border-box;
  padding: 10px 20px 15px;
  margin: 20px 0;
  background-color: #dee8ff;
  border: 2px solid #dee8ff;
}

.leftPanelElementBlock:hover {
  cursor: pointer;
  border: 2px dotted #2C4C7D;
  cursor: pointer;
}

.leftPanelElementBlock:first-child {
  margin-top: 0;
}

.leftPanelElementBlock:last-child {
  margin-bottom: 0;
}

.leftPanelElementDataRow {
  display: flex;
  justify-content: space-between;
}

.leftPanelElementDataRowLine{
  border-top: 1px solid gray;
  width: 100%;
  margin: 10px 0;
}

.leftPanelButton {
  width: 100%;
  padding: 10px 20px;
  margin: 20px 0;
}

.leftPanelButton:hover {
  cursor: pointer;
}

.rightPanel {
  width: 66%;
}